@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

:root {
    --primary-color: #f3eee8;
    --secondary-color: #799ba1;

    --highlight-color: #c23a46;

    --text-color: #333333;
    --text--ent-manager: #54c45e;
    --text--ai-system: #fc9432;
    --text--ai-component: #d7faf5;
    --text--ai-bt: #e81313;
    --text--ai-bb: #00c2a8;
    --text--ai-sb: #c3f7c8;
    --text--ai-pf: #edf5ff;
    --text--ai-sp: #ffd9d9;
    --text--ai-navmesh: #fcfcca;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-margin: 53px;
}

body{
    background-color: var(--primary-color);
}
/*Aqui defino las fuentes de los h1,h2,h3*/
h1, h2, h3 {
    font-family: 'Playpen Sans';
}
/*Aqui defino la fuente de los parráfos*/
p,a{
    font-family: 'Sawarabi Mincho', serif;
}

/* Nav Bar */
.menu-icon {
    display: none; /* Ocultar en pantallas grandes */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

/* Las tres barras del menú */
.menu-icon span {
    background-color: white;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    transition: all 0.3s ease; /* Añadir transición para animar */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #799ba1;
    color: var(--primary-color);
    z-index: 1000;
}

.navbar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar nav ul li {
    margin: 0 20px;
    width: 100px;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-weight: bold;
    text-align: center;
}

/*Presentation*/
#presentation{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 5em;
}
#gameplay{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#presentation > h1{
    text-align: center;
}
#presentation > p{  
    font-size: 1.2em;
    margin-bottom: 30px;
    font-family: 'Sawarabi Mincho', serif;
    text-align: justify;
    margin: 10px 10px 10px 10px;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}
.social-icon img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
    padding: 0 0.5em;
}

.social-icon:hover img {
    transform: scale(1.2);
}
/*Contributions section*/
#contributions{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contributions > span{
    background-color: var(--highlight-color);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 20px;
}
#contributions > h1{
    font-size: 45px;
    margin: 10px;
}
/*Contribution*/
.contribution{
    background-color: var(--secondary-color); /* Fondo de color */
    padding: 20px; /* Espaciado interno */
    max-width: 800px; /* Limitar el ancho del contenido */
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto; /* Ce
    margin: 40px; /* Espaciado externo centrado */
    margin-top: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto elegante */
}
.contribution h2{
    padding: 0px 0px 20px 0px;
}
.contribution p {
    margin-bottom: 15px; /* Separación entre párrafos */
    text-align: justify; /* Texto justificado */
    line-height: 1.6; /* Altura de línea para mejor legibilidad */
}
.contribution .imgs {
    display: flex; /* Hacer que las imágenes se alineen en fila */
    flex-wrap: wrap; /* Permitir que las imágenes bajen a la siguiente fila si exceden el espacio */
    gap: 10px; /* Espaciado entre imágenes */
    justify-content: space-evenly; /* Distribuir las imágenes uniformemente */
}
.contribution .imgs img {
    /*width: calc(33.333% - 10px); /* Ancho de un tercio menos el espacio entre imágenes */
    /*max-width: 200px; /* Ancho máximo */
    border-radius: 5px; /* Bordes redondeados para las imágenes */
    object-fit: cover; /* Ajustar contenido de la imagen */
}
.imgs-col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}
/* Each tech */
.tecnologia-title{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.color-identifier-buttom{
    width: 50px;
    height: 20px;
    margin-left: 10px;
    border-width: 1px;
    border-color: black;
    border-radius: 15px;
}
#ent_manager{
    background-color: var(--text--ent-manager);
}
#ai-system{
    background-color: var(--text--ai-system);
}
#ai-component{
    background-color: var(--text--ai-component);;
}
#ai-bts{
    background-color: var(--text--ai-bt);
}
#ai-bb{
    background-color: var(--text--ai-bb);
}
#ai-sb{
    background-color: var(--text--ai-sb);
}
#ai-pathf{
    background-color: var(--text--ai-pf);
}
#ai-sp{
    background-color: var(--text--ai-sp);
}